<p>
  <%= @question %>
  <br>
  <em>- You</em>
  <br>
  <%= @answer %> <br>
  <em>- Your coach</em>
</p>

<%# use root_path for your homepage (not ask_path) %>
<%= link_to 'Ask a new question', root_path %>
